<table class="table table-bordered">
   <tr class="header">
      <th>name</th>
      <th>address</th>
      <th>type</th>
      <th>bedroom</th>
      <th>email</th>
      <th>phone</th>
      <th>contacted_date</th>
      <th>email used</th>
   </tr>
   <% @landlords.each do |landlords| %>
   <tr>
      <td><%= best_in_place landlords , :name ,:ok_button => "confirm" %></td>
      <td><%= best_in_place landlords , :address ,:classes => 'highlight_on_success' %></td>
      <td><%= best_in_place landlords , :property_type  %></td>
      <td><%= best_in_place landlords , :bedroom  %></td>
      <td><%= best_in_place landlords , :email  %></td>
      <td><%= best_in_place landlords , :phone  %></td>
      <td><%= best_in_place landlords , :contacted_date  %></td>
      <td><%= best_in_place landlords , :email_used  %></td>
   </tr>
   <% end %>
</table>
<%= form_tag({:action => 'import'},multipart: true) do  %>
<%= file_field_tag(:file) %>
<%= submit_tag 'upload' %>
<% end %>